<% content_for :title, "Create Account" %>

<h1>Create an Account</h1>

<% if @errors&.any? %>
  <div class="errors">
    <strong>Please fix these errors:</strong>
    <ul>
      <% @errors.each do |field, message| %>
        <li><%= field.to_s.humanize %>: <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: registration_path, scope: :registration do |f| %>
  <label>Name
    <%= f.text_field :name, placeholder: "Your full name" %>
  </label>

  <label>Email
    <%= f.email_field :email, placeholder: "you@example.com" %>
  </label>

  <label>Password
    <%= f.password_field :password, placeholder: "At least 6 characters" %>
  </label>

  <label style="display: flex; align-items: center; gap: 0.5rem; margin-top: 1rem;">
    <%= f.check_box :newsletter_opt_in, {}, "1", "0" %>
    <span>Subscribe to the newsletter</span>
  </label>

  <br>
  <%= f.submit "Create Account", class: "btn" %>
  <%= link_to "Log in instead", new_session_path, class: "btn" %>
<% end %>
